/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

html, body {
  height: 100%; /* Set html and body to full height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
